= form_for @loc, url: address_path, method: :post do |f|
  .row
    = f.label :address, t(".enter_address")
    = f.text_field :address, required: true
    %p.format_info= t(".format_info")
  .row
    = f.submit t(:submit)
= link_to t(:home), root_path, class: :index_link