%h2= t(:history)
- if @hqs.empty?
  %p= t(".no_hqs")
- else
  %table
    %thead
      %tr
        %th= t(".query")
        %th= t(".type")
        %th= t(".time")
    %tbody
      - @hqs.each do |hq|
        %tr
          %td= hq.location.kind_of?(AddressLocation) ? link_to(hq.location.address, address_path(address: hq.location.address), method: :post) : (hq.location.kind_of?(IpLocation) ? link_to(hq.location.ip, ip_path(ip: hq.location.ip), method: :post) : (hq.location.kind_of?(PureLocation) ? link_to("#{hq.location.lat} : #{hq.location.lon}", pure_path(lat: hq.location.lat, lon: hq.location.lon), method: :post) : link_to(hq.location.locator, reverse_path(locator: hq.location.locator), method: :post)))
          %td= hq.location.kind_of?(AddressLocation) ? "address" : (hq.location.kind_of?(IpLocation) ? "ip" : (hq.location.kind_of?(PureLocation) ? "pure" : "reverse"))
          %td= hq.created_at.to_s
= link_to t(:home), root_path