%h2= t(:history)
- if @hqs.empty?
  %p= t(".no_hqs")
- else
  %table
    %thead
      %tr
        %th= t(".query")
        %th= t(".type")
        %th= t(".time")
    %tbody
      - @hqs.each do |hq|
        %tr
          %td= hq.kind_of?(AddressLocation) ? link_to(hq.address, address_path(address: hq.address), method: :post) : (hq.kind_of?(IpLocation) ? link_to(hq.ip, ip_path(ip: hq.ip), method: :post) : (hq.kind_of?(PureLocation) ? link_to("#{hq.lat} : #{hq.lon}", pure_path(lat: hq.lat, lon: hq.lon), method: :post) : link_to(hq.locator, reverse_path(locator: hq.locator), method: :post)))
          %td= hq.kind_of?(AddressLocation) ? "address" : (hq.kind_of?(IpLocation) ? "ip" : (hq.kind_of?(PureLocation) ? "pure" : "reverse"))
          %td= hq.created_at.to_s