%h2= t(:history)
- if @hqs.empty?
  .alert.alert-info= t(".no_hqs")
- else
  .row
    .col-md-12
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th= t(".query")
            %th= t(".type")
            %th= t(".time")
        %tbody
          - @hqs.each do |hq|
            %tr
              %td= hq.location.kind_of?(AddressLocation) ? button_to(hq.location.address, address_path, params: {"address_location[address]": hq.location.address}, class: "link_button") : (hq.location.kind_of?(IpLocation) ? button_to(hq.location.ip, ip_path, params: {"ip_location[ip]": hq.location.ip}, class: "link_button") : (hq.location.kind_of?(PureLocation) ? button_to("#{hq.location.latitude} : #{hq.location.longitude}", pure_path, params: {"pure_location[latitude]": hq.location.latitude, "pure_location[longitude]": hq.location.longitude}, class: "link_button") : button_to(hq.location.locator, reverse_path, params: {"reverse_location[locator]": hq.location.locator}, class: "link_button")))
              %td= hq.location.kind_of?(AddressLocation) ? "address" : (hq.location.kind_of?(IpLocation) ? "ip" : (hq.location.kind_of?(PureLocation) ? "pure" : "reverse"))
              %td= hq.created_at.to_s
  .row
    .col-md-12.text-center
      = page_entries_info @hqs, entry_name: 'query'
  .row
    .col-md-12.text-center
      = paginate @hqs
= link_to t(:home), root_path