= render partial: 'main_nav'
.query-form.reverse-query-form
  = form_for @loc, url: '#', method: :post, html: {class: 'form-horizontal'} do |f|
    .form-group
      .col-md-12
        = f.label :locator, t(".enter_locator")
        = f.text_field :locator, required: true, class: 'form-control'
        %p.format_info.text-muted= t(".format_info")
    = f.submit t(:submit), class: 'btn btn-default'
.query-result-container{style: 'display: none;'}
  %h4.query-result-title
  .well.query-result
.query-error.alert.alert-danger{style: 'display: none;'}